{% load static %}
<html>
    <head>
        <title>E-authenication system - Login page</title>
        <link rel="stylesheet" href="{% static 'authsystem/main.css' %}">
    </head>
    <body>
        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toogle-btn" onclick="login()">Log In</button>
                </div>
                <div class="col-md-6"></div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                <form id="Login" class="input-group" method="post">
                    {%csrf_token%}
                    <input name="email" type="text" class="input-field" placeholder="email" required>
                    <input name="username" type="text" class="input-field" placeholder="username" required>
                    <input name="pass1" type="password" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn">Log In</button><br>
                    <span>Don't have an account? <a style="text-decoration: none" href="{% url 'register' %}">Register here</a></span>
                </form>
            </div>
        </div>
    </body>
</html>